<%# Remember to add the code.css to the :assets %>
<%# content_for :assets do %>
  <%#= stylesheet_link_tag 'code' %>
  <%#= javascript_include_tag 'code' %>
<%# end %>

<div class="code">
  <div class="toolbar-container">
    <div class="toolbar">
      <img src="/images/selectAll.svg" title="Seleccionar tot" onclick="selectAll(event)">
      <img src="/images/copy.svg" title="Copiar a porta-retalls" onclick="copyClipboard(event)">
    </div>
  </div>
  <pre <%= if defined?(pre_id) then "id=#{pre_id}" end %> ><%= if defined?(content) then "#{content}" end %></pre>
</div>
