<%# Remember to add the code.css to the :assets %>
<%# content_for :assets do %>
  <%#= stylesheet_link_tag 'code' %>
  <%#= javascript_include_tag 'code' %>
<%# end %>

<% content ||= "" %>
<div <%= if defined?(pre_id) then "id=#{pre_id}" end %> class="code-container">
  <div class="toolbar-container<%= if content.empty? then ' empty' end %>">
    <div class="toolbar">
      <img src="/images/selectAll.svg" title="Seleccionar tot" onclick="selectAll(event)">
      <img src="/images/copy.svg" title="Copiar a porta-retalls" onclick="copyClipboard(event)">
    </div>
  </div>
    <div class="code-empty" <%= if !content.empty? then 'style="display: none"' end %>>&lt;buit&gt;</div>
    <pre class="code"><%= content %></pre>
</div>
