<nav>
  <ul>
    <li><%= link_to "Visor problemes", "/index.html" %></li>
    <li><%= link_to "Problema d'exemple", "/problemes/exemple_problema/00_AirContamination.html" %></li>
    <li><%= link_to "Set de problemes", "/set_problemes/dades_i_variables.html" %></li>
    <li><%= link_to "Bibliografia", "/bibliografia.html" %></li>
  </ul>
</nav>
