<nav>
  <ul>
    <li><a href="/index.html">Visor problemes</a></li>
    <li><a href="/problemes/exemple_problema/00_AirContamination.html">Problema</a></li>
    <li><a href="/bibliografia.html">Bibliografia</a></li>
  </ul>
</nav>
