<%# content_for :assets do %>
  <%#= stylesheet_link_tag 'tab', 'code' %>
  <%#= javascript_include_tag 'tab', 'code' %>
<%# end %>

<% problem ||= {} %>
<% problem['name'] ||= "Títol no definit" %>
<% problem['enunciat'] ||= "Enunciat no definit" %>
<% problem['tests'] ||= [] %>

{::options parse_block_html="true" /}
<div class="problem-container">
<%= problem.postscript %>
{::options parse_block_html="false" /}

<%= partial("/components/tab", locals: {id: "testcase1", testcases: problem['tests'].select {|test| !test['name'].start_with?("_")}}) %>
</div>
