---
title: Problema
---

<% content_for :assets do %>
  <%= stylesheet_link_tag 'code', 'tab' %>
<% end %>

<header>
<%= partial("/components/nav") %>
</header>

<div class="container">
<div id="enunciat">
  <h1>Problema de test</h1>
</div>

<div id="testcases">
  <h2>Casos de prova</h2>
  <div class="tab">
    <button class="tablinks" onclick="loadTestcase(event, 'Set1')">Set1</button>
    <button class="tablinks" onclick="loadTestcase(event, 'Set2')">Set2</button>
    <button class="tablinks" onclick="loadTestcase(event, 'Set3')">Set3</button>
  </div>
  <div class="row">
    <div id="entrada" class="column">
      <h3>Entrada:</h3>
      <%= partial("/components/code", locals: {pre_id: "testcase_entrada"}) %>
    </div>
    <div id="eixida" class="column">
      <h3>Eixida:</h3>
      <%= partial("/components/code", locals: {pre_id: "testcase_eixida"}) %>
    </div>
  </div>

<div id="entradaSet1" class="tabcontent">5
5
6
7
8
9
</div>
<div id="eixidaSet1" class="tabcontent">10
</div>

<div id="entradaSet2" class="tabcontent">1
2
3
</div>
<div id="eixidaSet2" class="tabcontent">9
</div>

<div id="entradaSet3" class="tabcontent">5
4
5
</div>
<div id="eixidaSet3" class="tabcontent">2
3
</div>

</div>
<div class="container">
